/* src/index.css */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

/* Center everything */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen height */
  text-align: center;
}
