body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #a49e9e;
}
input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button:hover {
  opacity: 0.9;
}
